*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-color: rgba(85, 81, 81, 0.904);
    width: 30%;
    height: 70vh;
    
}


#result{
    width: 90%;
    height: 3rem;
    margin-top: 1rem;
    background-color: #cadfa3;
    border-radius: 5px;
    margin-bottom: 1rem;

}

.buttonWrapper{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    
    width: 90%;
}



.eachButton{
    flex-basis: calc((100% - 30px) / 4);
    height: calc((100% - 30px) / 4);
    margin-bottom: 20px;
    background-color: grey;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}